<div id="full-container">
	<br>
	<div id="moviescreen">
	</div>
	<div id="register">
		<br>
		<span id="qspan">How loud was the sound?</span>
		<div id="lab-div">
			<div id="lab-left"><i>Very Soft</i></div><div id="lab-center"><i>Medium</i></div><div id="lab-right"><i>Very Loud</i></div>
		</div>
		<input id="slider" type="range" min="0" max="100" default="50" width="960" disabled/>
		<br>
		<div id="centerdiv">
			<button id="nextbutton" class="incenterdiv btn btn-success btn-lg" disabled>Select</button>
			<br>
			<span id="progress" class="incenterdiv" style="margin-top: 15px;">0/0</span>
			<br>
			<button id="reloadbutton" class="incenterdiv btn btn-success btn-med" style="display: none;">Reload Movie</button>
		</div>
	</div>
</div>
